[Desktop Entry]
Name=SeedCTL
Comment=A deterministic, auditable, and security-focused Bitcoin wallet generator.
Exec=AppRun
Icon=seedctl
Type=Application
Terminal=true
Categories=Utility;